.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 8px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.blueButton {
    background: var(--primary-color);
    border: none;
    color: white;
    padding: 10px;
}

.underline {
    text-decoration: underline;
    background: transparent;
    color: black;
}

.editCardBtn {
    background: var(--tertiary-color);
    color: black;
}
