.header {
    display: flex;
    justify-content: space-between;
    background-color: #076f6f;
    height: 100px;
    width: 100%;
    text-align: left;
    padding-left: 1rem;
    color: white;   
}

