.loginContainer {
    display: flex;
    justify-content: center;  
    height: 100vh; 
}

.loginForm {
    background-color: #bdd8de;
    border: 1px solid #03657d;
    border-radius: 10px;
    position: fixed;
    padding: 10px;
    height: 250px;
    align-content: center;
}

.loginError {
    position: absolute;
    color: red;
    font-weight: bold;
    left: 30%;
    top: 5%;
}

.loginContainer input {
    width: 250px;
    height: 40px;
    margin: 20px;
    color: #333;
    border: none;

    @media screen and (max-width: 400px) {
        width: 200px;
        
    }
}

.loginContainer button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #03657d;
    cursor: pointer;
}



