.loginContainer {
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 65vh; 
}

.loginForm {
    background-color: #bdd8de;
    border: 1px solid #03657d;
    border-radius: 10px;
    position: fixed;
    padding: 10px;
    height: 284px;
    align-content: center;
}

.loginError {
    position: absolute;
    color: red;
    font-weight: bold;
    left: 30%;
    top: 5%;
}

.loginContainer label {
    width: 300px;
    padding-right: 20px;
}

.loginContainer input {
    width: 300px;
    height: 40px;
    margin: 20px;
    color: #333;
    border: none;
}

.loginContainer button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #03657d;
    cursor: pointer;
}



