@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #03657d;
  --header-color: #0587a7;
  --secondary-color: #d9ecf1;
  --tertiary-color: #9bdcec;

  color: black;
  background-color: #d4d4d4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  margin: 9em 0 3em 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

