.formContainer {
    background: #d9ecf1;
    width: 40%;
    border: 2px solid #26adcf;
    border-radius: 20px;
    padding: 20px 10px;
    font-size: 18px;  
    margin: auto;  
}

.formRow {
    height: 50px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-align: left;
}

.formRow input, select {
    height: 80%;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(181, 179, 179);
    color: black;
}

.formRow label{
    text-align: left;
    font-size: 20px;
}

.submitButton {
    background: #03657d;
    margin-top: 40px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}